/* line 22, sass/variables/_variables.scss */
.header > *, .footer > *, .gallery, .home-page > *, .about-paragraph,
.sub-navigation, .calendar-page > *, .menu, .contact {
  text-align: center;
  width: 100%;
  background: #008080;
  border: solid 1px #fff;
  margin: auto;
}

/* line 34, sass/variables/_variables.scss */
html {
  font-family: "Helvetica", "Arial", sans-se  rif;
  font-style: normal;
  font-weight: 400;
}

/* line 1, sass/foundation/_foundation.scss */
html {
  text-size-adjust: 100%;
  box-sizing: border-box;
}

/* line 7, sass/foundation/_foundation.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 11, sass/foundation/_foundation.scss */
body {
  color: #fff;
  margin: 0 auto;
}

/* line 16, sass/foundation/_foundation.scss */
#main {
  clear: both;
}

/* line 1, sass/header/_header.scss */
.header > * {
  float: left;
}

/* line 6, sass/header/_header.scss */
.logo {
  width: 50%;
}
/* line 9, sass/header/_header.scss */
.logo p {
  margin: 73px 0;
}

/* line 14, sass/header/_header.scss */
.navigation {
  width: 50%;
}
/* line 17, sass/header/_header.scss */
.navigation p {
  margin: 73px 0;
}

@media only screen and (min-width: 700px) {
  /* line 24, sass/header/_header.scss */
  .logo {
    width: 25%;
  }
  /* line 27, sass/header/_header.scss */
  .logo p {
    margin: 93px 0;
  }

  /* line 32, sass/header/_header.scss */
  .navigation {
    width: 75%;
  }
  /* line 35, sass/header/_header.scss */
  .navigation p {
    margin: 93px 0;
  }

  /* line 40, sass/header/_header.scss */
  .title {
    float: left;
    width: 75%;
  }

  /* line 45, sass/header/_header.scss */
  .social-media {
    float: left;
    width: 25%;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 53, sass/header/_header.scss */
  .logo p {
    margin: 123px 0;
  }

  /* line 57, sass/header/_header.scss */
  .navigation p {
    margin: 123px 0;
  }
}
/* line 1, sass/footer/_footer.scss */
.footer {
  clear: both;
}

/* line 13, sass/footer/_footer.scss */
.address p,
.hours p,
.email p {
  margin: 40px 0;
}

/* line 18, sass/footer/_footer.scss */
.hours p {
  margin: 40px 0;
}

/* line 22, sass/footer/_footer.scss */
.copyright {
  clear: both;
  width: 100%;
}

@media only screen and (min-width: 700px) {
  /* line 29, sass/footer/_footer.scss */
  .address,
  .hours,
  .email {
    float: left;
    width: 33.33333%;
  }
  /* line 35, sass/footer/_footer.scss */
  .address p,
  .hours p,
  .email p {
    margin: 60px 0;
  }
}
/* line 5, sass/pages/_home.scss */
.home-page {
  margin: 0 auto;
  max-width: 400px;
}

/* line 15, sass/pages/_home.scss */
.gallery p {
  margin: 200px 0;
}

/* line 24, sass/pages/_home.scss */
.coming-soon p,
.live-stream p,
.email-signup p,
.private-parties p {
  margin: 75px 0;
}

@media only screen and (min-width: 700px) {
  /* line 31, sass/pages/_home.scss */
  .gallery p {
    margin: 250px 0;
  }

  /* line 35, sass/pages/_home.scss */
  .home-page {
    max-width: 700px;
  }

  /* line 39, sass/pages/_home.scss */
  .home-page > * {
    float: left;
  }

  /* line 45, sass/pages/_home.scss */
  .coming-soon p,
  .private-parties p {
    margin: 100px 0;
  }

  /* line 50, sass/pages/_home.scss */
  .live-stream,
  .email-signup {
    width: 50%;
  }
  /* line 54, sass/pages/_home.scss */
  .live-stream p,
  .email-signup p {
    margin: 100px 0;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 62, sass/pages/_home.scss */
  .gallery p {
    margin: 300px 0;
  }

  /* line 66, sass/pages/_home.scss */
  .home-page {
    max-width: 1024px;
  }

  /* line 73, sass/pages/_home.scss */
  .coming-soon p,
  .private-parties p {
    margin: 150px 0;
  }

  /* line 78, sass/pages/_home.scss */
  .live-stream,
  .email-signup {
    width: 50%;
  }
  /* line 82, sass/pages/_home.scss */
  .live-stream p,
  .email-signup p {
    margin: 150px 0;
  }
}
/* line 1, sass/pages/_about.scss */
.about-page {
  margin: 0 auto;
  max-width: 400px;
}

/* line 6, sass/pages/_about.scss */
.about-paragraph,
.sub-navigation {
  float: left;
}

/* line 12, sass/pages/_about.scss */
.about-paragraph p {
  margin: 300px 0;
}

@media only screen and (min-width: 700px) {
  /* line 18, sass/pages/_about.scss */
  .about-page {
    max-width: 700px;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 26, sass/pages/_about.scss */
  .about-page {
    max-width: 1024px;
  }

  /* line 30, sass/pages/_about.scss */
  .sub-navigation {
    width: 30%;
  }
  /* line 33, sass/pages/_about.scss */
  .sub-navigation p {
    margin: 300px 0;
  }

  /* line 38, sass/pages/_about.scss */
  .about-paragraph {
    width: 69.89%;
  }
}
/* line 1, sass/pages/_calendar.scss */
.calendar-page {
  margin: 0 auto;
  max-width: 400px;
}

/* line 10, sass/pages/_calendar.scss */
.next-event p {
  margin: 100px 0;
}

/* line 14, sass/pages/_calendar.scss */
.full-calendar p {
  margin: 400px 0;
}

/* line 19, sass/pages/_calendar.scss */
.email-form p {
  margin: 200px 0;
}

@media only screen and (min-width: 700px) {
  /* line 25, sass/pages/_calendar.scss */
  .calendar-page {
    max-width: 700px;
  }

  /* line 29, sass/pages/_calendar.scss */
  .full-calendar p {
    margin: 350px 0;
  }

  /* line 33, sass/pages/_calendar.scss */
  .email-form p {
    margin: 150px 0;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 40, sass/pages/_calendar.scss */
  .calendar-page {
    max-width: 1024px;
  }

  /* line 44, sass/pages/_calendar.scss */
  .full-calendar p {
    margin: 350px 0;
  }

  /* line 48, sass/pages/_calendar.scss */
  .email-form p {
    margin: 100px 0;
  }
}
/* line 1, sass/pages/_menu.scss */
.menu {
  max-width: 400px;
  margin: 0 auto;
}
/* line 6, sass/pages/_menu.scss */
.menu p {
  margin: 350px 0;
}

@media only screen and (min-width: 700px) {
  /* line 13, sass/pages/_menu.scss */
  .menu {
    max-width: 700px;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 20, sass/pages/_menu.scss */
  .menu {
    max-width: 1024px;
  }
}
/* line 1, sass/pages/_contact.scss */
.contact {
  max-width: 400px;
  margin: 0 auto;
}
/* line 6, sass/pages/_contact.scss */
.contact p {
  margin: 350px 0;
}

@media only screen and (min-width: 700px) {
  /* line 13, sass/pages/_contact.scss */
  .contact {
    max-width: 700px;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 20, sass/pages/_contact.scss */
  .contact {
    max-width: 1024px;
  }
}
