.footer {
	clear: both;
}

.footer > * {
	@extend %square;
}

.hours {
	img {
		padding: 1em 0;
	}
}

.email {
	padding: 5.9em 0;
}

.address {
	padding: 5.3em 0;
}

.copyright {
	clear: both;
	width: $hundred;
}

@media only screen and (min-width: $tablet-width) {
	
	.address,
	.hours,
	.email {
		float: left;
		width: $hundred/3;
	}
}