.footer {
	clear: both;
}

.footer > * {
	@extend %square;
}

.address,
.hours,
.email {
	
	p {
		margin: 40px 0;
	}
}

.hours p{
	margin: 40px 0;
}

.copyright {
	clear: both;
	width: $hundred;
}

@media only screen and (min-width: $tablet-width) {
	
	.address,
	.hours,
	.email {
		float: left;
		width: $hundred/3;

		p {
			margin: 60px 0;
		}
	}

}