<div class="home-page">
	<div class="gallery"></div>
	<div class="coming-soon">
		<div class="coming-soon_content">
			<h3>Coming Soon</h3>
			<div class="coming-soon_image">
				<div class="wireframe-image"><p>IMG</p></div>
				<p class="coming-soon_date">Feb 11</p>
			</div>
			<div class="coming-soon_details">
				<h4>Joe Piteo</h4>
				<p>Jazz, Funk, Fusion, Soul, R+B, Hip-Hop</p>
				<button class="nav-button">View Calendar</button>
			</div>
		</div>
	</div>
	<div class="live-stream">
		<div class="live-stream_content">
			<h3>Live Video Stream</h3>
			<p>See what you're missing at MTK Tavern.</p>
			<button class="nav-button">View Live Stream</button>
		</div>
	</div>
	<div class="email-signup">
		<div class="email-signup_form">
			<h3>Stay Informed</h3>
			<p>Sign up with your email address to recieve details about upcoming events.</p>
			<input type="text" class="email-signup_input">
			<button class="nav-button">Sign up</button>
		</div>
	</div>
	<div class="private-parties">
		<div class="private-parties_content">
			<h3>Private Parties</h3>
			<button class="nav-button">See Details</button>
		</div>
	</div>
</div>
