//--------Global-Variables--------//
$hundred : 100%;
$gutter-width : 0.5em;

$mobile-width : 400px;
$tablet-width : 700px;
$desktop-width : 1024px;





//--------Colors--------//
$color1	: #000;	//Black
$color2	: #fff; //White
$color3 : #008080; // Teal



//--------Fonts--------//
%primaryFont {
	font-family: "Helvetica", "Arial", sans-se  rif;
	font-style: normal;
	font-weight: 400;
}