.logo {

	width: $hundred*0.2011111;

	p {
		margin: 40px 0;
	}
}

.navigation {

	width: $hundred*0.7989;

	p {
		margin: 40px 0;
	}
}

.title {
	width: $hundred*0.75;
}

.social-media {
	width: $hundred/4;
}


@media only screen and (max-width: $tablet-width) {

	.logo {
		width: $hundred/4;
		float: left;
	}

	.navigation {
		width: $hundred*0.75;
		float: left;
	}
	
	.title {
		float: left;
	}

	.social-media {
		float: left;
	}
}

@media only screen and (min-width: $tablet-width) {
	
	.logo p{
		margin: 60px 0;
	}

	.navigation p{
		margin: 60px 0;
	}


}

@media only screen and (min-width: $desktop-width) {

	.logo p{
		margin: 92px 0;
	}

	.navigation p{
		margin: 92px 0;
	}
}