.header > * {
	float: left;
	@extend %square;
}	

.logo {
	width: $hundred/2;

	p {
		margin: 73px 0;
	}
}

.navigation {
	width: $hundred/2;

	p {
		margin: 73px 0;
	}
}

@media only screen and (min-width: $tablet-width) {

	.logo {
		width: $hundred/4;

		p {
			margin: 93px 0;
		}
	}

	.navigation {
		width: $hundred*0.75;

		p {
			margin: 93px 0;
		}
	}

	.title {
		float: left;
		width: $hundred*0.75;
	}

	.social-media {
		float: left;
		width: $hundred/4;
	}
}

@media only screen and (min-width: $desktop-width) {

	.logo p {
		margin: 123px 0;
	}

	.navigation p {
		margin: 123px 0;
	}

}