.about-page {
	margin: 0 auto;
	max-width: $mobile-width;
}

.about-paragraph,
.sub-navigation {
	@extend %square;
}

.sub-navigation a {
	margin: 0 auto;
	padding: 0.5em 0;
	color: $color1;
	text-decoration: none;
	display: block;
	width: $hundred;
	border-top: 1px solid $color1;

	&:last-child {
		border-bottom: 1px solid $color1;
	}
}

.about-paragraph p{
	margin: 300px 0;
}

@media only screen and (min-width: $tablet-width) {

	.about-page {
		max-width: $tablet-width;
	}

	.sub-navigation a {
		display: inline-block;
		width: $hundred*0.19;
		border-right: 1px solid $color1;
		border-top: 0;

		&:first-child {
			border-left: 1px solid $color1;
		}

		&:last-child {
			border-bottom: 0;
		}
	}
}

@media only screen and (min-width: $desktop-width) {

	.about-page {
		max-width: $desktop-width;
	}

	.sub-navigation,
	.about-paragraph {
		float: left;
	}
	
	.sub-navigation {
		width: $hundred*0.20;
		padding: 14.7em 0;

		p {
			margin: 300px 0;
		}

		a {
			display: block;
			width: $hundred;
			border-top: 1px solid $color1;
			border-right: 0;

			&:first-child {
				border-left: 0;
			}

			&:last-child {
				border-bottom: 1px solid $color1;
			}
		}
	}

	.about-paragraph {
		width: $hundred*0.6989;
	}

}