.contact {
	max-width: $mobile-width;
	margin: 0 auto;
	@extend %square;

	p {
		margin: 350px 0;
	}
}

@media only screen and (min-width: $tablet-width) {
	
	.contact {
		max-width: $tablet-width;
	}
}

@media only screen and (min-width: $desktop-width) {

	.contact {
		max-width: $desktop-width;
	}
}

