.gallery {
	@extend %square;
}

.home-page {
	margin: 0 auto;
	max-width: $mobile-width;
}

.home-page > * {
	@extend %square;

}

.gallery p {
	margin: 200px 0;
}

.coming-soon,
.live-stream,
.email-signup, 
.private-parties {

	p {
		margin: 75px 0;
	}
}

@media only screen and (min-width: $tablet-width) {
	
	.gallery p {
		margin: 250px 0;
	}

	.home-page {
		max-width: $tablet-width;
	}

	.home-page > * {
		float: left;
	}

	.coming-soon,
	.private-parties {
		p {
			margin: 100px 0;
		}
	}

	.live-stream,
	.email-signup {
		width: $hundred/2;
	
		p {
			margin: 100px 0;
		}
	}
}

@media only screen and (min-width: $desktop-width) {
	
	.gallery p{
		margin: 300px 0;
	}

	.home-page {
		max-width: $desktop-width;
	}

	.coming-soon,
	.private-parties {
		
		p {
			margin: 150px 0;
		}
	}

	.live-stream,
	.email-signup {
		width: $hundred/2;
	
		p {
			margin: 150px 0;
		}
	}
}